/* Add this to your global CSS file */
@keyframes rotateDashedBorder {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
   
    .animate-rotate-border {
      animation: rotateDashedBorder 30s linear infinite;
    }
    

    @keyframes scrollHalfwayReset {
      0% {
        transform: translateX(100%); 
      }
     
      100% {
        transform: translateX(-100%); 
      }
    }
    
    .animate-scroll {
      animation: scrollHalfwayReset 20s linear infinite;
      will-change: transform;     }
    

      @media (max-width: 640px) {  
            .animate-scroll {
              animation: scrollHalfwayReset 10s linear infinite; 
            }
          }
          
          @media (max-width: 768px) {  
            .animate-scroll {
              animation: scrollHalfwayReset 15s linear infinite; 
            }
          }

          @keyframes bounce {
            0% {
              transform: translate(0, 0); 
            }
            50% {
              transform: translate(1vw, 1vh); 
            }
            100% {
              transform: translate(0, 0); 
            }
          }

          @keyframes topBounce {
            0% {
              transform: translateY(0); /* Initial position */
            }
            50% {
              transform: translateY(-10px); /* Move up */
            }
            100% {
              transform: translateY(0); /* Return to original position */
            }
          }
          

          @keyframes fadeIn {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }